/* Makes the body to look like the requirements and centralize the #maindiv */
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 38px;
    margin: 0 0 15px 0;
    align-self: center;
}

/* Makes the #maindiv to look like the requirements */
#maindiv {
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;

    /* Font */
    color: black;
    font-size: 17px;
    font-family: sans-serif;

    min-height: 250px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Hide Arrow Up and Down from input=number */
/* Chrome, Safari, Edge, Opera */
#years input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Arrow Up and Down from input=number */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#styleWrapperDiv {    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    align-self: center;
}

/* Aligns the input elements */
#styleWrapperDiv div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#styleWrapperDiv > * {
    margin-bottom: 10px;
}

/* Makes some of the left elements in the #styleWrapperDiv have the same size. */
#styleWrapperDiv div label, #buttonCompute {
    min-width: 120px;
}

#selectedRate {
    display: inline-flex;
}