body {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
}

#mainContent {
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;

    /* Font */
    color: black;
    font-size: 17px;
    font-family: sans-serif;

    min-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Hide Arrow Up and Down from input=number */
/* Chrome, Safari, Edge, Opera */
#years input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide Arrow Up and Down from input=number */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

#styleWrapperDiv {
    min-height: 125px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

#styleWrapperDiv div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#styleWrapperDiv div label, #buttonCompute {
    min-width: 110px;
}

#years {
    max-width: 30px;
}

#selectedRate {
    display: inline-flex;
}